abcplus==0.1.0
APScheduler==3.5.3
bcrypt==3.1.5
certifi==2018.11.29
cffi==1.12.0
chardet==3.0.4
Click==7.0
cycler==0.10.0
docopt==0.6.2
Flask==1.0.2
Flask-Cors==3.0.7
hdfs==2.2.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mysql-connector==2.1.6
mysql-connector-python==8.0.13
mysql-connector-python-rf==2.2.2
numpy==1.16.1
protobuf==3.6.1
pycparser==2.19
pyparsing==2.3.1
python-dateutil==2.7.5
python-docx==0.8.10
pytz==2018.9
requests==2.21.0
six==1.12.0
tzlocal==1.5.1
urllib3==1.24.1
Werkzeug==0.14.1
xmljson==0.2.0
xmltodict==0.11.0
